{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>All your Card</h1>
                    <span class="subheading">A collection of VCard.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<ul class="list-group">
    {% for vcard in vcards %}
    <l1 class="list-group-item">
        <div><h3>{{vcard.first_name}} {{vcard.last_name}} {% for qrcode in vcard.qrcode%}
            {% set base64_data = qrcode.qr_code_img | base64_encode %}
            <img src="data:image/png;base64,{{ base64_data }}" height="80" width="80">
            {% endfor %}
        </h3></div>
    </l1>
    {% endfor %}
</ul>


{% include "footer.html" %}